* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex nav {
  margin: 2rem;
  display: flex;
  /* width: 100%; */
  /* border: 2px solid red; */
  justify-content: space-between;
}
.icon {
  display: flex;
  padding-top: 0.9rem;
  /* margin-top: 1rem; */
  /* margin-left: 1rem; */
  width: 30%;
  justify-content: center;
  background-color: #d2d79f;
}
.main {
  display: flex;
  justify-content: center;
  width: 40%;
  /* color: #483838; */
  padding: 0.7rem;
  background-color: #42855b;
}
.icons {
  display: flex;
  /* margin-top: 0.5rem; */
  padding: 0.5rem;
  /* margin-right: 1rem; */
  width: 30%;
  justify-content: center;
  background-color: #90b77d;
}
.icons a {
  margin: 0.5rem;
}
.main li {
  display: inline-block;
  /* margin-left: 0.5rem;
  margin-right: 0.5rem; */
  margin: 0.3rem;
}
.fa-tent,
.fa-caravan,
.fa-person-shelter,
.fa-free-code-camp {
  color: #483838;
}
.main:hover {
  background-color: #245b9b;
}
a {
  text-decoration: none;
  color: #483838;
  font-weight: 600;
}
@media screen and (min-width: 350px) and (max-width: 900) {
  .main {
    display: flex;
  }
}
